$secondary-color: #262652;
$primary-color: #424274;
$text-color:#babaeb;
$show-home-image:true;
$home-image:url(../img/background.jpg);

@mixin easeOut{
    transition:all 0.5s ease-out;
}

@mixin background{
    @if $show-home-image {
        &#bg-img{
            background: $home-image;
            background-attachment: fixed;
            background-size:cover;       
        }
    }   
}

//Set text color

@function set-text-color($color){
    @if (lightness($color) > 20){
        @return rgb(45, 34, 56);
    } @else{
        @return rgb(227, 227, 227);
    }
}

//Media query mixins

@mixin mediaSm {
    @media screen and (max-width:500px) {
        @content;
    }
}

@mixin mediaSm {
    @media screen and (max-width:500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width:769px) and (max-width:1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width:1171px) {
        @content;
    }
}