@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}

body{
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height:100%;
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height:1.5;
}

//Headeing

h1, h2, h3{
    margin:0;
    font-weight:400;


    &.lg-heading{
        font-size:6rem;
        color:$text-color;
    }

    &.sm-heading{
        margin-bottom:2rem;
        padding: 0.2rem 1rem;
        background: rba(lighten($primary-color,2),0.5);
    }
}

a{
    color:$text-color;
    text-decoration: none;
}

header{
    position:fixed;
    z-index:2;
    width:100%;
}

.text-secondary{
    color: $secondary-color;
}

main{
    padding: 4rem;
    min-height:calc(100vh - 60px);

    .icons{
        margin-top:1rem;
        
        a{
            padding:0.4rem;

            &:hover{
                color:$secondary-color;
                @include easeOut();
            }
        }
    }

    &#home{
        overflow:hidden;
        h1{
            margin-top:20vh;
        }
    }
}

.about-info{
    display:grid;
    grid-gap:30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3,1fr);
    font-size:0.9rem;

    .bio-image{
        grid-area:bioimage;
        margin:auto;
        border-radius: 50%;
        border:$secondary-color 3px solid;
    }
    
    .bio{
        grid-area: bio;
        font-size:1.2rem;
    }
    
    .job{
        background:lighten($primary-color, 7);
        padding:0.5rem;
        border-bottom:$text-color 5px solid;
        text-align:justify;
    }
    .job-1{
        grid-area:job1;
    }
    
    .job-2{
        grid-area:job2;
    }
    
    .job-3{
        grid-area:job3;
    }
}

//Work/Project

.projects{
    display:grid;
    grid-gap:0.7rem;
    grid-template-columns: repeat(3,1fr);
    
    img{
        width:100%;
        border: 3px #fff solid;

        &:hover{
            opacity:0.5;
            border-color:$secondary-color;
            @include easeOut;
        }
    }
}

//Contact 

.boxes{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top:1rem;
    
    div{
        font-size:2rem;
        border:3px #fff solid;
        padding:1.5rem 2.5rem;
        margin-bottom:3rem;
        @include easeOut;

        &:hover{
            padding:0.8rem 1.8rem;
            border-color:$secondary-color;
            background:$text-color;
        }
    }
}

//Button 

.btn{
    display:block;
    padding:0.5rem 1rem;
    border: 0;
    margin-bottom:0.3rem;

    &:hover{
        background:linear-gradient(45deg,$secondary-color, $primary-color);
        color:#fff;
        transition: ease-in 1s;
    }
}

.btn-dark {
    @extend .btn;
    background:darken($primary-color,  20);
    color:#000;
}

.btn-light {
    @extend .btn;
    background:lighten($primary-color,  20);
    color:#000;
}

.item i{
    padding-right:1rem;
}



#main-footer{
    text-align:center;
    padding:1rem;
    background:darken($primary-color, 10);
    color:set-text-color($primary-color);
    height:60px;
}


@import 'mobile';